$dark_blue : #183E58;
$dark_green : #096D6A;
$dark_blue2 : #1b4460;

.container_shipyard{
  padding: 10% 0% 10% 0% !important;
}

.save_button{
  background-color: $dark_blue2 !important;
  width: 170px !important;
  font-size: 10pt !important;
  height: 40px;
  border-radius: 24px !important;
  margin-top: 2%;
  font-weight: 700 !important;
}