$dark_blue : #183E58;
$dark_green : #096D6A;
$dark_blue2 : #1b4460;

.save_button{
  background-color: $dark_blue2 !important;
  width: 170px !important;
  font-size: 10pt !important;
  height: 40px;
  border-radius: 24px !important;
  margin-top: 2%;
  font-weight: 700 !important;
}

.field_title_2{
  font-size: 18px;
  font-weight: 700;
}

.shipyard_name{
  color: #183E58;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0%;
  border: 3px solid transparent;
  transition: 0.2s;
}

.checklist{
  margin-bottom: 2%;
}

.checklist_text label{
  margin-top: 0% !important;
  font-size: 10pt;
}

.button_update{
  height: 40px;
  border-radius: 16px !important;
  margin: 1%;
  width: 75px !important;
  font-size: 10pt !important;
  font-weight: 500;
  text-align: center !important;
  background-color: #1b4460 !important;
  color: white !important;
}

.button_remove{
  height: 40px;
  border-radius: 16px !important;
  border: solid 1px grey;
  font-size: 10pt !important;
  margin: 1%;
  width: 75px !important;
  font-weight: 500;
  text-align: center !important;
  background-color: white !important;
  color: grey !important;
}

.save_button{
  background-color: $dark_blue2 !important;
  width: 170px !important;
  font-size: 10pt !important;
  height: 40px !important;
  border-radius: 24px !important;
  margin-top: 2%;
  font-weight: 700 !important;
}

.cancel_button{
  color: $dark_blue2 !important;
  width: 170px !important;
  border: 2px solid $dark_blue2 ;
  font-size: 10pt !important;
  height: 40px;
  border-radius: 24px !important;
  margin-top: 2%;
  font-weight: 700 !important;
  background-color: white !important;
}

.field_form_upload_image{
  height: 40px;
  border-radius: 16px !important;
  margin: 1% 5% 2% 1%;
  width: 150px !important;
  font-size: 10pt !important;
  font-weight: 500;
  text-align: center !important;
  background-color: #1b4460 !important;
  color: white !important;
}

.field_form_remove_image{
  height: 40px;
  border-radius: 16px !important;
  border: solid 1px grey;
  margin: 1% 5% 2% 1%;
  width: 150px !important;
  font-size: 10pt !important;
  font-weight: 500;
  text-align: center !important;
  background-color: white !important;
  color: grey !important;
}

.middle_container{
  padding: 3% 2%;
  background-color: white !important;
  margin-top: 3% !important;
  border-radius: 16px;
}

.field_title{
  font-size: 10pt;
  margin-bottom: 5px;
}

.field_title_3{
  font-size: 10pt;
  margin-bottom: 5px;
  font-weight: 400;
  color: #89989F;
}

.field_item{
  font-size: 14px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 14px !important;
}

.field_item_2{
  font-size: 18px;
  letter-spacing: 0px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 5px !important;
}

.photo{
  height: 80%;
  width: 100%;
  border-radius: 16px;
}

.field_form{
  height: 48px;
  border-radius: 16px !important;
  margin-bottom: 15px;
  width: 100% !important;
  background-color: white!important;
  color: grey !important;
  text-align: left !important;
}