.card{
  border-radius: 20px;
  background-color: white;
  height: 176px;
  padding: 10%;
}

.title{
  font-size: 16px;
  font-weight: 700;
  color: #183E58;
}

.number{
  color: #183E58;
  font-size: 25px;
  font-weight: 700;
}