$dark_blue : #183E58;
$dark_green : #096D6A;
$dark_blue2 : #1b4460;

.container{
  padding: 10% 0% 10% 0% !important;
}

.frame_phone{
  background-position: center;
  background-size: contain;
  height: 618px !important;
  width: 282px !important;
  position: absolute;
}

.status_bar{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.content_phone{
  margin: 5.2% 2.5% 0% 2.5% !important;
  width: 259px !important;
  z-index: 5 !important;
  position: relative;
}

.phone_header{
  background-color: white;
  height: 20px;
  width: 261px;
  margin-left: 3% !important;
  font-size: 8pt;
  margin-top: 8.5% !important;
  border-radius: 21px 21px 0px 0px;
}

.phone_container{
  height: 606px !important;
  width: 301px !important;
}

.slider_image{
  height: 10px;
}

.description{
  margin-top: -2% !important;
  background-color: white;
  z-index: 2;
  width: 263px;
  margin-left: 1% !important;
  position: sticky;
  border-radius: 11px 11px 0px 0px !important;
}

.ship_name{
  font-weight: 600;
  font-size: 16px;
  margin-top: 5%;
  margin-bottom: 0px !important;
}

.ship_location{
  margin-top: 0px;
  color: grey;
  font-size: 9pt;
}

.separator{
  height: 20px;
}

.separator_icon{
  font-size: 28pt;
}

.navbar{
  margin-top: 2%;
  font-size: 9pt;
  width: 265px !important;
  height: 22px !important;
  margin-left: 0% !important;
}

.nav_item{
  padding: 0px !important;
  text-align: center;
  color: black;
  font-weight: 400;
  height: 22px !important;
  border-bottom: 2px solid rgb(209, 202, 202) ;
}

.nav_item_active{
  padding: 0px !important;
  text-align: center;
  color: #187673;
  font-weight: 600;
  height: 22px !important;
  border-bottom: 2px solid #187673 ;
}

.section_selected{
  width: 268px;
  margin-left: 0%;
}