$dark_blue : #183E58;
$dark_green : #096D6A;
$dark_blue2 : #1b4460;


.container{
  width: 264px !important;
}

.container_about{
  padding: 0px !important;
  margin: 4% 0px 0px 4% !important;
  height: 150px;
  width: 300px;
  overflow-y: scroll;
}

.about{
  font-size: 10pt;
  margin-bottom: 2% !important;
}

.read_more{
  font-size: 10pt;
  color: #187673;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 0px !important;
}

.contact{
  font-size: 9pt !important;
  color: white;
  font-weight: 600;
  background-color: #183E58 !important;
  margin-left: 3%;
  text-align: center;
  border-radius: 22px !important;
  width: 247px !important;
  border: none !important;
  height: 36px !important;
  
}

.title{
  font-size: 11pt;
  font-weight: 600;
  margin-bottom: 0px;
}

.desc{
  font-size: 10pt;
  margin-top: 2% !important;
}